@media (max-width: 576px) {
  /* root element */
  :root {
    --primary-width: 95%;

    --heading-font-size: 35px;
    --sub-head-font-size: 28px;
    --regular-font-size: 14px;
    --small-font-size: 11px;
  }

  /* navbar style starts here */
  nav {
    margin: 25px auto 120px;

    ul {
      li {
        a {
          display: none;
        }
      }
    }
  }

  /* banner style starts here */
  #banner {
    .container {
      width: 100%;
      margin: 0 auto;
      flex-direction: column-reverse;
      gap: 30px;
      align-items: stretch;

      .textual-part {
        width: 95%;
        margin-left: 10px;
        h1 {
          font-size: var(--heading-font-size);
          font-family: var(--heading-font-family);
        }
      }
    }
  }

  /* card style starts here */
  #card-section {
    .container {
      margin: 100px auto;

      p {
        width: 85%;
      }
      .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px 20px;

        .card {
          padding: 5px;

          p {
            color: #000;
            font-size: 20px;
            margin-top: 10px;
          }

          h4 {
            font-size: var(--regular-font-size);
            text-align: center;
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  .deals {
    margin: 80px 0;

    .textual {
      p {
        width: 85%;
        margin: 10px auto 20px;
      }
    }
    .deal-card {
      grid-template-columns: 1fr;
      gap: 24px;

      .deals-left {
        display: grid;
        grid-template-rows: 1fr;
        gap: 24px;
      }

      .bloom {
        background-image: url("../assets/deal-bloom.png");
        min-height: 220px;
      }

      .ana {
        background-image: url("../assets/deal-ana.png");
        min-height: 220px;
      }

      .zabo {
        background-image: url("../assets/deal-zabo.png");
        min-height: 220px;

        h2 {
          font-size: 20px;

          span {
            font-weight: 400;
            color: #fff;
          }
        }
      }
    }
  }

  #join {
    height: 35vh;

    .container {
      width: 80%;
      h3 {
        margin-bottom: 20px;
      }

      form {
        .email {
          padding: 12px;
          width: 75%;
        }

        .btn {
          width: 25%;
          color: #fff;
          border: none;
          padding: 12px;
        }
      }
    }
  }

  footer {
    padding: 50px 0;

    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        width: 75%;
        text-align: center;
        line-height: 1;
        margin: 15px 0;
        font-size: var(--regular-font-size);
        color: var(--txt-color);
      }
    }

    ul {
      margin: 0 auto;
      width: 20%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px 70px;

      li {
        text-align: center;
      }
    }

    .icons {
      margin-top: 15px;
    }
  }
}
